name: Publish package to GitHub Packages

on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main


jobs:
  feature_branch:
    if: github.event_name == 'push' || github.base_ref == 'main'
    runs-on: ubuntu-latest
    #environment: maven-release

    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'corretto'

        # - name: Publish package
        # run: mvn -e -X --batch-mode deploy
          # env:
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: verify JAVA_HOME
        run: |
          echo "JAVA_HOME=$JAVA_HOME"
          java -version
          
      - name: Setup Snyk CLI
        uses: snyk/actions/setup@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Run Snyk scan
        run:  snyk test --severity-threshold=high --sarif-file-output=snyk-publish.sarif
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk-publish.sarif

        #- name: Create tag using deploy key
        # uses: './.github/create-tag'
          #env:
          # DEPLOY_KEY: ${{ secrets.OPENAPI_DEPLOY_KEY }}
