name: Publish package to GitHub Packages

on:
  push:
    branches:
      - main
  workflow_dispatch:


jobs:
  feature_branch:
#    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
#    environment: maven-release

    permissions:
      contents: read
      packages: write
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Create package
        run: mvn -e -X --batch-mode package

      - name: Setup Snyk CLI
        uses: snyk/actions/setup@master

      - name: Snyk scan published package
        run: snyk test --severity-threshold=high --sarif-file-output=snyk-publish.sarif
        env:
           SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        shell: bash

      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        with:
            sarif_file: snyk-publish.sarif

      - name: Publish package to GitHub Packages
        run: mvn -e -X --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create tag using deploy key
        uses: './.github/create-tag'
        env:
          DEPLOY_KEY: ${{ secrets.OPENAPI_DEPLOY_KEY }}
