name: Publish package to GitHub Packages

on:
  workflow_dispatch:
  pull_request:
    types: [opened]

jobs:
  feature_branch:
    #if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: maven-release

    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Publish package
        run: mvn -e -X --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Snyk scan published package
        run: snyk test --sarif-file-output=snyk-publish.sarif --severity-threshold=high
        env:
            SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
            JAVA_HOME: ${{ env.JAVA_HOME }}

      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-publish.sarif

      - name: Create tag using deploy key
        uses: './.github/create-tag'
        env:
          DEPLOY_KEY: ${{ secrets.OPENAPI_DEPLOY_KEY }}