name: Feature build
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  feature_branch:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub repository
        uses: actions/checkout@v5

      - name: Build and test
        uses: './.github/build'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Snyk Scan Dependencies
        uses: './.github/snyk-scan'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Snyk Scan JAR
        uses: './.github/snyk-scan-jar'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

